<article class="speakerslist">
  <section class="layout">
    <div class="speakers">
      {{#each speakers}}
        <article class="artist group">
          <h3>{{this.title}}
            <span class="small">with
              <a href="/speakers/{{this.shortname}}">{{this.name}}</a>
            </span>
          </h3>

          <p>
            <a href="/speakers/{{this.shortname}}">
              <img class="speaker" src="/images/speakers/{{this.shortname}}_tn.jpg" alt="Photo of {{this.name}}">
            </a>

            {{{artistInfo ../page}}}
          </p>
        </article>
      {{/each}}
    </div>
  </section>
</article>
